<div class="row">
  <div class="small-12 columns">
    <h2><%= t('.title') %></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= form_for(profile) do |f| %>
      <div class="row">
        <div class="small-6 columns">
          <div class='field'>
            <%= f.label :fullname, t('.fullname') %>
            <%= f.text_field :fullname %>
          </div>

          <div class='field'>
            <%= f.label :activity, t('.activity') %>
            <%= f.text_field :activity %>
          </div>

          <div class='field'>
            <%= f.label :bio, t('.bio') %>
            <%= f.text_area :bio %>
          </div>

          <div class='field'>
            <%= f.label :webpage, t('.webpage') %>
            <%= f.text_field :webpage %>
          </div>

          <div class='field'>
            <%= f.label :contact, t('.contact') %>
            <%= f.text_field :contact %>
          </div>

          <div class='field'>
            <%= f.label :skill_list, t('.skill_list') %>
            <%= f.hidden_field :skill_list %>
          </div>

          <div class='field'>
            <%= f.label :interest_list, t('.interest_list') %>
            <%= f.hidden_field :interest_list %>
           </div>
        </div>
        <div class="small-6 columns">
          <label><%= t('.circle') %>
            <%= f.select :circle_id, options_from_collection_for_select(circles, :id, :name, selected: profile.circle_id) %>
          </label>
          <label><%= t('.photo') %>
            <%= f.file_field :photo %>
            <%= image_tag(profile.photo.thumbnail.url) if profile.photo? %>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.submit t('.update'), class: 'button small' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= include_gon %>
