<div class="row">
  <div class="small-12 columns">
    <h2><%= t('.title') %></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= form_for @profile do |f| %>
      <div class="row">
        <div class="small-6 columns">
          <div class='field'>
            <%= f.label :fullname, 'Imię i nazwisko' %>
            <%= f.text_field :fullname %>
          </div>

          <div class='field'>
            <%= f.label :activity, 'Projekt/firma' %>
            <%= f.text_field :activity %>
          </div>

          <div class='field'>
            <%= f.label :bio, 'O sobie' %>
            <%= f.text_area :bio %>
          </div>

          <div class='field'>
            <%= f.label :skill_list, 'To umiem/to mogę zaoferować innym' %>
            <%= f.select :skill_list, options_from_collection_for_select(@tags, :name, :name, @profile.skill_list), {}, multiple: true %>
          </div>

          <div class='field'>
            <%= f.label :interest_list, 'Tego potrzebuję/tego się chcę nauczyć' %>
            <%= f.select :interest_list, options_from_collection_for_select(@tags, :name, :name, @profile.interest_list), {}, multiple: true %>
          </div>
        </div>
        <div class="small-6 columns">
          <label>Krąg
            <%= f.select :circle_id, options_from_collection_for_select(circles, :id, :name, selected: @profile.circle_id) %>
          </label>
          <label>Zdjęcie
            <%= f.file_field :photo %>
            <%= image_tag(@profile.photo.thumbnail.url) if @profile.photo? %>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.submit 'Aktualizuj', class: 'button small' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
