%span.field-wrapper
  = label_tag 'user[password]' do
    = fa_icon 'lock'
  %span{'ng-show' => 'hiddenPassword', 'ng-click' => 'showPasswordText()'}= fa_icon 'eye-slash', class: 'show-password'
  %span{'ng-hide' => 'hiddenPassword', 'ng-click' => 'hidePasswordText()'}= fa_icon 'eye', class: 'hide-password'
  = password_field_tag 'user[password]', nil, placeholder: password_placeholder, 'ng-model' => 'password', pattern: '.{8,}', required: true, title: password_placeholder
