.content{'ng-controller' => 'FormsController'}
  .intro
    = image_tag 'landing/logo.png', class: 'logo'
    %h1= t('.intro')
    .go= link_to t('.go'), dashboard_path, 'stop-event' => true, 'ng-click' => 'showModal()'

  .md-modal.md-effect-3{'ng-class' => '{"md-show": modal}'}
    .md-content
      %h3= t('.decide')

      = image_tag 'landing/spinner.svg', class: 'spinner', 'ng-show' => 'spinner'

      .plane-wrapper
        .plane

      .form
        %form{'ng-enter' => 'submit()'}
          = token_tag
          %span.field-wrapper{'ng-show' => 'showEmail'}
            = label_tag 'user[email]' do
              = fa_icon 'envelope'
            = email_field_tag 'user[email]', nil, placeholder: t('.email'), 'ng-model' => 'email'
          %span.field-wrapper{'ng-show' => 'showPassword'}
            = label_tag 'user[password]' do
              = fa_icon 'lock'
            = password_field_tag 'user[password]', nil, placeholder: t('.password')
          %span.field-wrapper{'ng-show' => 'showName'}
            = label_tag 'user[name]' do
              = fa_icon 'user'
            = text_field_tag 'user[name]', nil, placeholder: t('.name')

          %button{'ng-show' => 'showNext', 'ng-click' => 'check()', 'stop-event' => true}= t('.next')
          %button{'ng-show' => 'showSignin', 'ng-click' => 'signin()', 'stop-event' => true}= t('.signin')
          %button{'ng-show' => 'showSignup', 'ng-click' => 'signup()', 'stop-event' => true}= t('.signup')

  .md-overlay{'ng-click' => 'closeModal()'}
