.content{'ng-controller' => 'FormsController'}
  .intro
    %h1= t('.intro')
    .go= link_to t('.go'), dashboard_path, 'stop-event' => true, 'ng-click' => 'showModal()'

  .md-modal.md-effect-3{'ng-class' => '{"md-show": modal}'}
    .md-content
      %h3= t('.decide')
      .plane-wrapper
        .plane

      #check
        = form_for(:user, url: users_check_path) do |f|
          %span#login-email-wrapper
            = f.label :email do
              = fa_icon 'envelope'
            = f.email_field :email, placeholder: t('.email'), 'ng-model' => 'email'
          = f.submit t('.signin')

  .md-overlay{'ng-click' => 'closeModal()'}
