.content{'ng-controller' => 'FormsController'}
  .intro
    = image_tag 'landing/logo.png', class: 'logo'
    %h1= t('.intro')
    .go= link_to t('.go'), '#', 'stop-event' => true, 'ng-click' => 'showModal()'

  .md-modal.md-effect-3{'ng-class' => '{"md-show": modal}'}
    .md-content
      %h3{'ng-show' => "step === 'check' || step === 'signin'"}= t('.header.signin')
      %h3{'ng-show' => "step === 'signup'"}= t('.header.signup')
      %h3{'ng-show' => "step === 'reset'"}= t('.header.reset')

      = image_tag 'landing/spinner.svg', class: 'spinner', 'ng-show' => 'spinner'

      .plane-wrapper
        .plane

      .forms
        %form#check{'ng-show' => "step === 'check'"}
          = token_tag
          = render partial: 'landing/form/email', locals: { email_placeholder: t('.email') }

          %button{'ng-click' => 'check()', 'stop-event' => true}= t('.next')

        %form#signin{'ng-show' => "step === 'signin'"}
          = token_tag
          %span.back{'ng-click' => 'back()'}
          = render partial: 'landing/form/email', locals: { email_placeholder: t('.email') }
          = render partial: 'landing/form/password', locals: { password_placeholder: t('.password.enter')}
          %a.reset{href: '#', 'ng-click' => 'reset()'}= t('.forgot')

          %button{'ng-click' => 'signin()', 'stop-event' => true}= t('.signin')

        %form#signup{'ng-show' => "step === 'signup'"}
          = token_tag
          %span.back{'ng-click' => 'back()'}
          = render partial: 'landing/form/email', locals: { email_placeholder: t('.email') }
          = render partial: 'landing/form/password', locals: { password_placeholder: t('.password.create') }

          %button{'ng-click' => 'signup()', 'stop-event' => true}= t('.signup')

        %form#reset{'ng-show' => "step === 'reset'"}
          = token_tag
          %span.back{'ng-click' => 'back()'}
          = render partial: 'landing/form/email', locals: { email_placeholder: t('.email') }

          %button{'ng-click' => 'sendInstructions()', 'stop-event' => true}= t('.send_instructions')
          .info.alert-box.radius= t('.sent_instructions')

  .md-overlay{'ng-click' => 'closeModal()'}

  .notification
    %p{'ng-repeat' => 'message in messages'}
      {{message.field | translate}} {{message.description}}
