.content{'ng-controller' => 'FormsController'}
  .intro
    %h1= t('.intro')
    .go= link_to t('.go'), dashboard_path, 'stop-event' => true, 'ng-click' => 'showModal()'

  .md-modal.md-effect-3{'ng-class' => '{"md-show": modal}'}
    .md-content
      %h3= t('.decide')
      .plane-wrapper
        .plane

      .form
        = form_for(:user, url: users_check_path) do |f|
          %span.field-wrapper{'ng-show' => 'showEmail'}
            = f.label :email do
              = fa_icon 'envelope'
            = f.email_field :email, placeholder: t('.email'), 'ng-model' => 'email'
          %span.field-wrapper{'ng-show' => 'showPassword'}
            = f.label :password do
              = fa_icon 'lock'
            = f.password_field :password, placeholder: t('.password')
          %span.field-wrapper{'ng-show' => 'showName'}
            = f.label :name do
              = fa_icon 'user'
            = f.text_field :name, placeholder: t('.name')

          = f.submit t('.next'), 'ng-show' => 'showNext', 'ng-click' => 'check()', 'stop-event' => true
          = f.submit t('.signin'), 'ng-show' => 'showSignin', 'ng-click' => 'signin()', 'stop-event' => true
          = f.submit t('.signup'), 'ng-show' => 'showSignup', 'ng-click' => 'signup()', 'stop-event' => true

  .md-overlay{'ng-click' => 'closeModal()'}
