<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to root_path do %>
          <%= image_tag 'logo.jpg', class: 'logo' %>
        <% end %>
      </h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown">
        <a href="#">Latające Kręgi Miejskie</a>
        <ul class="dropdown">
          <% @all_circles.each do |circle| %>
            <li><%= link_to circle.name, circle %></li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to 'Kręgowiczki', people_path %></li>
      <li><%= link_to 'Bohaterki', heroines_path %></li>
    </ul>

    <ul class="right">
      <% if current_user %>
        <li class="has-dropdown">
          <a href="#">Ustawienia</a>
          <ul class="dropdown">
            <li><%= link_to 'Profil', edit_profile_path %></li>
            <li><%= link_to 'Email, hasło', edit_user_registration_path %>
          </ul>
        </li>
        <li class="divider"></li>
      <% end %>
      <% if current_user %>
        <li><%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Zaloguj', new_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
