<div class='row'>
  <div class='small-12 large-3 columns'>
    <div class="th photo">
      <% if profile.photo? %>
        <%= link_to(profile.photo_url, target: '_blank') do %>
          <%= image_tag(profile.photo.thumbnail.url)  %>
        <% end %>
      <% else %>
        <%= image_tag('woman.png') %>
      <% end %>
    </div>
  </div>
  <div class='small-12 large-9 columns'>
    <h1><%= profile.fullname %></h1>

    <p class="activity"><strong><%= profile.activity %></strong></p>

    <%= simple_format(profile.bio, class: 'bio') %>

    <%= render partial: 'shared/extended_info', locals: {profile: profile} %>
  </div>
</div>
