<% profiles.each do |profile| %>
  <article class="profile th">
    <%= link_to(send(profile_path, profile)) do %>
      <% if profile.photo? %>
        <%= image_tag(profile.photo.thumbnail.url) %>
      <% else %>
        <%= image_tag('woman.png') %>
      <% end %>
      <h5><%= profile.fullname %></h5>
      <h6><%= profile.activity.try(:truncate, 24) %>&nbsp;</h6>
    <% end %>

    <% if profile.code %>
      <div data-tooltip class="profile-circle label <%= profile.circle.slug %>" title="<%= profile.circle.name %>">
        <%= profile.code %>
      </div>
    <% end %>
  </article>
<% end %>
