<% profiles.each do |profile| %>
  <article class="profile th">
    <%= link_to(send(profile_path, profile)) do %>
      <%= image_tag(profile.photo.thumbnail.url) if profile.photo? %>
      <h5><%= profile.fullname %></h5>
      <h6><%= profile.activity.try(:truncate, 25) %>&nbsp;</h6>
    <% end %>

    <% if profile.code %>
      <div class="circle label">
        <%= profile.code %>
      </div>
    <% end %>
  </article>
<% end %>
