<% profiles.each do |profile| %>
  <article class="profile th">
    <%= link_to(send(profile_path, profile)) do %>
      <%= image_tag(profile.photo.thumbnail.url) if profile.photo? %>
      <h5><%= profile.fullname %></h5>
      <h6><%= profile.activity.try(:truncate, 24) %>&nbsp;</h6>
    <% end %>

    <% if profile.code %>
      <div data-tooltip class="circle label <%= profile.circle.slug %>" title="<%= profile.circle.name %>">
        <%= profile.code %>
      </div>
    <% end %>

    <% if profile.is_a?(Profile) && profile.events.count > 0 %>
      <div data-tooltip class="events label round secondary" title="Liczba udziałów w kręgach: <%= profile.events.count %>">
        <%= profile.events.count %>
      </div>
    <% end %>
  </article>
<% end %>
