<div id="rsvp-container">
  <div id="rsvp-mine">
    <h3>
      <%= t('.you_will_participate') %>
    </h3>
    <a href="#" class="rsvp-change label" data-reveal-id="rsvp-change" aria-label="Zmień zdanie">
      <%= t('.change') %>
    </a>

    <div id="rsvp-change" class="reveal-modal" data-reveal>
      <h3><%= t('.still_interested?') %></h3>
      <div class="action"><a class="button success yes close-modal"><%= t('.stay') %></a></div>
      <div class="action"><%= button_to(t('.leave'), event_rsvp_path(@event, @rsvp), method: :delete, class: 'button alert') %></div>

      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
</div>
