<div class="row">
  <div class="small-12 large-9 columns">
    <h2><%= @event.name %></h2>
    <p><%= I18n.l(@event.starting_at, locale: :pl, format: '%d %b %Y') %></p>
    <p><%= simple_format(auto_link(@event.description)) %></p>
  </div>
  <div class="small-12 large-3 columns">
    <% if @rsvp %>
      <% if @rsvp.going? %>
        <%= render 'rsvp' %>
      <% else %>
        <%= render 'waiting' %>
      <% end %>
    <% else %>
      <% if current_user %>
        <%= form_for([@event, Rsvp.new]) do |f| %>
          <%= f.submit 'Dołącz', class: 'button success' %>
        <% end %>
      <% else %>
        <%= link_to 'Zaloguj, aby dołączyć', new_user_session_path, class: 'button info' %>
      <% end %>
    <% end %>

    <h3>Lista uczestników</h3>
    <ul>
      <% @participants.each do |participant| %>
        <li><%= participant.fullname %></li>
      <% end %>
    </ul>

    <h3>Lista rezerwowa</h3>
    <ul>
      <% @waiting.each do |participant| %>
        <li><%= participant.fullname %></li>
      <% end %>
    </ul>
  </div>
</div>
