.row
  .small-12.large-9.columns
    %h2= event.name
    %p= I18n.l(event.starting_at, locale: I18n.locale, format: '%d %B %Y')
    %p= simple_format(auto_link(event.description))
    = event.map
  .small-12.large-3.columns
    - if rsvp.going?
      = render partial: 'going', locals: { event: event, rsvp: rsvp }
    - elsif rsvp.waiting?
      = render partial: 'waiting', locals: { event: event, rsvp: rsvp }
    - elsif signed_in?
      - if current_user.fullname.present?
        = form_for([event, Rsvp.new]) do |f|
          = f.submit t('.join'), class: 'button success'
      - else
        = link_to t('.fulfill_your_profile'), edit_profile_path, class: 'button success'
    - else
      = link_to t('.signin'), new_user_session_path, class: 'button warning'

    - if event.quantity?
      %h3
        = t('.attendee_list')
        (#{users.going.size}/#{event.quantity})
      %ul
        - users.going.each do |user|
          = render partial: 'events/person', locals: { user: user }

      %h3
        = t('.waiting_list')
        (#{users.waiting.size})
      %ul
        - users.waiting.each do |user|
          = render partial: 'events/person', locals: { user: user }
    - else
      %h3
        = t('.attendee_list')
        (#{users.going.size})
      %ul
        - users.going.each do |user|
          = render partial: 'events/person', locals: { user: user }
