.row
  .small-12.large-9.columns
    %h2= event.name
    %p= I18n.l(event.starting_at, locale: I18n.locale, format: '%d %b %Y')
    %p= simple_format(auto_link(event.description))
    = event.map
  .small-12.large-3.columns
    - if rsvp.going?
      = render partial: 'going', locals: { event: event, rsvp: rsvp }
    - elsif rsvp.waiting?
      = render partial: 'waiting', locals: { event: event, rsvp: rsvp }
    - elsif signed_in?
      = form_for([event, Rsvp.new]) do |f|
        = f.submit t('.join'), class: 'button success'
    - else
      = link_to t('.signin'), new_user_session_path, class: 'button warning'

    %h3= t('.attendee_list')
    %ul
      - users.going.each do |user|
        = render partial: 'events/person', locals: { user: user }

    %h3= t('.waiting_list')
    %ul
      - users.waiting.each do |user|
        = render partial: 'events/person', locals: { user: user }
