!!!
%html{lang: params[:locale]}
  %head
    %title= t('title')

    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    = render 'shared/opengraph'

    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  %body
    = render 'shared/navigation'

    .container.row
      = yield

    = render 'shared/feedback'

    = javascript_include_tag 'application'
